{# {% extends 'base.html' %} #}

{% block content %}
    <div style="position:absolute;z-index:-1;width:100%;height:100%;">
    	<img src="http://www.fg-a.com/wallpapers/2017-4-light-background-geo.jpg" width="100%" height="100%" />
</div>
    <br><br><br><br><br><br>
  <center><h3>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </h3></center>
  <center><h3>
    If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
  </h3></center>
{% endblock %}