<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>Post for Non-Host</title>-->
<!--</head>-->
<!--<body>-->

{% extends "Ucook/1base.html" %}
{% block head %}
    <style type="text/css">
        label {
            width: 100px;
        }
        .checkbox {
            margin: 5px;
        }
    </style>
{% endblock %}
{% block content %}
    <form method="post" action="{% url 'exploreHost' %}">
    <div class="postnonhost-provide">
        <p>What I provide</p>
        <input id="postnonhost-wash" type="checkbox" class="checkbox">Wash Bowl
        <input id="postnonhost-ingredients" type="checkbox" class="checkbox">Bring Ingredients
        <input id="postnonhost-prepare" type="checkbox" class="checkbox">Prepare Food
        <input id="postnonhost-cook" type="checkbox" class="checkbox">Do Cooking
    </div>

    <br>

    <div class="postnonhost-need">
        <p>What I need</p>
        <input id="postnonhost-chinese" type="radio" class="checkbox" name="foodType" value="Chinese">Chinese
        {% comment %}{% endcomment %}
        <input id="postnonhost-korean" type="radio" class="checkbox" name="foodType" value="Korean">Korean
        <input id="postnonhost-american" type="radio" class="checkbox" name="foodType" value="American">American
        <input id="postnonhost-italian" type="radio" class="checkbox" name="foodType" value="Italian">Italian
        <input id="postnonhost-indian" type="radio" class="checkbox" name="foodType" value="Indian">Indian
        <input id="postnonhost-japanese" type="radio" class="checkbox" name="foodType" value="Japanese">Japanese
        <input id="postnonhost-mexican" type="radio" class="checkbox" name="foodType" value="Mexican">Mexican
        <input id="postnonhost-thai" type="radio" class="checkbox" name="foodType" value="Thai">Thai
        <input id="postnonhost-vegetarian" type="radio" class="checkbox" name="foodType" value="Vegetarian">Vegetarian

    </div>

    <br>

    <label>Information:</label>
    <input id="posthost-information" type="text">

    <br><br>
        <input type="button" value="Submit">
    </form>

{% endblock %}

<!--</body>-->
<!--</html>-->